* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #8c8c8c;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.slider {
  position: relative;
  height: 800px;
  padding: 63px 167px 19px 98px;
  background: url('img/slider-img.jpg') no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 283px;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: #8c8c8c;
  padding: 10px;
  letter-spacing: 1.4px;
}

.menu__link:hover {
  color: #212121;
}

.menu__link_active {
  color: #212121;
  font-weight: 700;
  border-bottom: 3px solid #212121;
}

.slider-content__text {
  font-size: 18px;
  color: #43a047;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 10px;
}

.slider-content__title {
  font-size: 62px;
  text-transform: uppercase;
  font-weight: 300;
  color: #212121;
  margin-bottom: 20px;
}

.slider-content__description {
  color: #6c6c6c;
  max-width: 485px;
  margin-bottom: 30px;
  line-height: 24px;
}

.button {
  width: 212px;
  height: 45px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  line-height: 45px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
}

.button__arrow {
  padding-left: 5px;
  box-sizing: content-box;
}

.pagination {
  position: absolute;
  bottom: 19px;
  left: 0;
  text-align: center;
  width: 100%;
  list-style-type: none;
}

.pagination__item {
  display: inline-block;
  margin-right: 10px;
}

.pagination__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c7c7c7;
  margin-bottom: 5px;
  display: inline-block;
}

.pagination__link:hover {
  background-color: #212121; 
}

.pagination__link_active {
  width: 40px;
  height: 40px;
  background-color: #212121;
  margin-bottom: 0;
}

.featured {
  padding: 120px 98px;
}

.featured-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}

.featured-links-tab {
  list-style-type: none;
  display: flex;
}

.featured-links-tab__item {
  font-size: 36px;
  color: #6c6c6c;
  font-weight: 700;
  border-bottom: 1px solid #6c6c6c;
  padding: 0 20px 20px 10px;
}

.featured-links-tab__item:hover {
  cursor: pointer;
}

.featured-links-tab__item_active {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.explore-all {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 3.6px;
}

.featured-products {
  display: flex;
  justify-content: space-between;
}

.featured-product {
  width: 270px;
  height: 270px;
  position: relative;
}

.featured-product-info {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #9c9c9c;
  text-align: center;
  padding: 62px 25px 0;
}

.featured-product-info_active {
  display: block;
}

.featured-product:hover .featured-product-info {
  display: block;
}

.featured-product__link {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}

.featured-product__title {
  font-size: 22px;
  color: #212121;
  font-weight: 700;
  margin-bottom: 15px;
}

.featured-product__description {
  color: #6c6c6c;
}

.exclusive-two {
  display: flex;
}

.exclusive {
  width: 50%;
  height: 683px;
  padding: 228px 0 0 50px;
  background: url('img/exclusive-two/promo-img1.jpg');
}

.exclusive-2 {
  background: url('img/exclusive-two/promo-img.jpg');
}

.exclusive__text {
  font-size: 18px;
  font-weight: 700;
  color: #1e88e5;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 15px;
}

.exclusive__title {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 20px;
}

.exclusive__description {
  color: #6c6c6c;
  line-height: 24px;
  width: 392px;
  margin-bottom: 30px;
}

.trending {
  padding: 119px 98px 120px;
}

.trending-links {
  margin-bottom: 64px;
}

.trending-links__title {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
}

.trending-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 770px;
}

.trending__img {
  width: 370px;
  height: 370px;
}

.slider-hot-deal {
  background: url('img/slider-hot-deal.jpg') no-repeat;
  padding-top: 287px; 
}

.slider-content__text_red {
  color: #e53935;
}

.exclusive-block {
  display: flex;
  justify-content: space-between;
  padding: 120px 98px;
}

.exclusive-block__description {
  width: 350px;
}

.exclusive_bg-img {
  width: 570px;
  height: 570px;
  padding: 186px 31px 0;
  background: url('img/exclusive/product-1-lg.jpg') no-repeat;
}

.exclusive-images {
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.exclusive-images__img {
  width: 270px;
  height: 270px;
}