@font-face {
  font-family: 'Gotham';
  src: local('Gotham Light'), local('Gotham-Light'),
      url('font/Gotham-Light.woff2') format('woff2'),
      url('font/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #8c8c8c;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.slider {
  position: relative;
  height: 800px;
  padding: 63px 158px 19px 98px;
  background: url('img/slider-img.jpg') no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 280px;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: #8c8c8c;
  padding: 6px 11px;
  letter-spacing: 1.4px;
}

.menu__link:hover {
  color: #212121;
}

.menu__link_active {
  color: #212121;
  font-weight: 700;
  border-bottom: 3px solid #212121;
}

.slider-content__text {
  font-size: 18px;
  color: #43a047;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.slider-content__title {
  font-size: 62px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -3.5px;
  color: #212121;
  margin-bottom: 10px;
}

.slider-content__description {
  color: #6c6c6c;
  max-width: 485px;
  margin-bottom: 30px;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.button {
  width: 212px;
  height: 45px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  line-height: 45px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
}

.button:active {
  box-shadow: none;
}

.pagination {
  position: absolute;
  bottom: 15px;
  left: 0;
  text-align: center;
  width: 100%;
  list-style-type: none;
}

.pagination__item {
  display: inline-block;
  margin-right: 10px;
}

.pagination__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c7c7c7;
  margin-bottom: 5px;
  display: inline-block;
}

.pagination__link:hover {
  background-color: #212121; 
}

.pagination__link_active {
  width: 40px;
  height: 40px;
  background-color: #212121;
  margin-bottom: 0;
}

.featured {
  padding: 113px 98px 118px;
}

.featured-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}

.featured-links-tab {
  list-style-type: none;
  display: flex;
}

.featured-links-tab__item {
  font-size: 36px;
  color: #6c6c6c;
  font-weight: 700;
  letter-spacing: -2px;
  border-bottom: 1px solid #6c6c6c;
  padding: 0 23px 10px 10px;
}

.featured-links-tab__item:hover {
  cursor: pointer;
  color: #212121;
}

.featured-links-tab__item_active {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.explore-all {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 3.1px;
}

.button__arrow {
  fill: #212121;
}

.explore-all:hover {
  color: #6c6c6c;
}

.explore-all:hover .button__arrow {
  fill: #6c6c6c;
}

.featured-products {
  display: flex;
  justify-content: space-between;
}

.featured-product {
  width: 270px;
  height: 270px;
  position: relative;
}

.featured-product-info {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #9c9c9c;
  text-align: center;
  padding: 62px 25px 0;
}

.featured-product-info_active {
  display: block;
}

.featured-product:hover .featured-product-info {
  display: block;
}

.featured-product__link {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 13px;
}

.featured-product__link:hover {
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
}

.featured-product__link:active {
  box-shadow: none;
}

.featured-product__title {
  font-size: 22px;
  color: #212121;
  font-weight: 700;
  margin-bottom: 13px;
}

.featured-product__description {
  color: #6c6c6c;
  line-height: 21px;
}

.exclusive-two {
  display: flex;
}

.exclusive {
  width: 50%;
  height: 683px;
  padding: 225px 0 0 50px;
  background: url('img/exclusive-two/promo-img1.jpg');
}

.exclusive-2 {
  background: url('img/exclusive-two/promo-img.jpg');
}

.exclusive__text {
  font-size: 18px;
  font-weight: 700;
  color: #1e88e5;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 5px;
}

.exclusive__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #212121;
  margin-bottom: 10px;
}

.exclusive__description {
  color: #6c6c6c;
  line-height: 24px;
  letter-spacing: -0.3px;
  width: 392px;
  margin-bottom: 28px;
}

.trending {
  padding: 114px 98px 90px;
}

.trending-links {
  margin-bottom: 60px;
}

.trending-links__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.3px;
  color: #212121;
}

.trending-images__link {
  transition: all 0.5s;
}

.trending-images__link:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.trending-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -15px;
  margin-right: -15px;
}

.trending__img {
  width: 370px;
  height: 370px;
  margin-bottom: 26px;
}

.slider-hot-deal {
  background: url('img/slider-hot-deal.jpg') no-repeat;
  padding-top: 285px; 
}

.slider-content__text_red {
  color: #e53935;
}

.exclusive-block {
  display: flex;
  justify-content: space-between;
  padding: 120px 98px;
}

.exclusive-block__description {
  width: 350px;
}

.exclusive_bg-img {
  width: 570px;
  height: 570px;
  padding: 184px 31px 0;
  background: url('img/exclusive/product-1-lg.jpg') no-repeat;
}

.exclusive-images {
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.exclusive-images__img {
  width: 270px;
  height: 270px;
}

.mobail-app {
  height: 516px;
  padding: 123px 98px 120px;
  background: url('img/back-img.jpg') no-repeat;
}

.mobail-app__text {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  color: #6c6c6c;
}

.mobail-app__title {
  width: 480px;
  font-size: 62px;
  font-weight: 100;
  color: #212121;
  text-transform: uppercase;
  line-height: 72px;
  letter-spacing: -4px;
  margin-bottom: 10px;
}

.mobail-app__description {
  font-size: 22px;
  color: #6c6c6c;
  letter-spacing: -0.8px;
  margin-bottom: 30px;
}

.mobail-app-images {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 116px 98px 30px;
  background-color: #f7f7f7;
}

.footer__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin-bottom: 14px;
}

.footer__text {
  width: 230px;
  color: #212121;
  line-height: 22px;
  letter-spacing: -0.3px;
}

.footer-contact {
  width: 220px;
}

.footer-info {
  width: 418px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links-list {
  list-style-type: none;
}

.footer-links_link {
  text-decoration: none;
  font-weight: 700;
  color: #212121;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-links_link:hover {
  color: #6c6c6c;
}

.footer-subscribe {
  width: 370px;
}

.footer-subscribe__text {
  width: 100%;
  margin-bottom: 22px;
}

.footer-email {
  position: relative;
  display: block;
}

.footer-email__input {
  width: 100%;
  height: 48px;
  padding-left: 18px;
  border: 1px solid #d9dee1;
  background-color: #ffffff;
}

.footer-email__input, 
.footer-email__input::placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #6c6c6c;
  letter-spacing: -0.3px;
}

.footer-email__btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background: url('img/email-icon.png') #ffffff center center no-repeat;
  width: 44px;
  height: 44px;
  background-size: 21px 17px;
  border: none;
}

.footer-email__btn:hover {
  cursor: pointer;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 58px;
}

.footer-copyright__text {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #6c6c6c;
}

.footer-copyright-list,
.footer-copyright-text-links {
  list-style-type: none;
}

.footer-copyright__item {
  display: inline-block;
  margin-right: 5px;
}

.footer-copyright__link {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.footer-copyright__link:hover {
  transform: scale(1.1);
}

.footer-copyright__link-fb {
  background: url('img/social-links.png') left center no-repeat;
}

.footer-copyright__link-tw {
  background: url('img/social-links.png') -34px center no-repeat;
}

.footer-copyright__link-gp {
  background: url('img/social-links.png') -67px center no-repeat;
}

.footer-copyright__link-pt {
  background: url('img/social-links.png') -101px center no-repeat;
}

.footer-copyright-text-links__item {
  display: inline-block;
}

.footer-copyright-text-links__item:nth-child(n+2):before {
  content: '/';
}

.footer-copyright-text-links__link,
.footer-copyright-text-links__item:nth-child(n+2):before {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #6c6c6c;
}

.footer-copyright-text-links__link:hover {
  color: #212121;
}

.header-wrap {
  padding: 63px 158px 38px 98px;
  background-color: #f5f5f5;
}

.header_margin_bottom_m {
  margin-bottom: 155px;
}

.header_margin-bottom_none {
  margin-bottom: 0;
}

.header-wrap__title {
  font-size: 62px;
  color: #212121;
  font-weight: 100;
  letter-spacing: -2px;
}

.our-products {
  padding: 68px 98px 135px 98px;
}

.our-products-list {
  list-style-type: none;
  margin-bottom: 50px;
  position: relative;
}

.our-products-list__item {
  display: inline-block;
}

.our-products-list__link {
  text-decoration: none;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #6c6c6c;
  letter-spacing: 1.8px;
  padding: 0 20px 15px 7px;
}

.our-products-list__link:hover {
  color: #212121;
}

.our-products-list__link_active {
  color: #212121;
  border-bottom: 3px solid #212121;
  padding-right: 27px;
}

.our-products__line {
  border: none;
  height: 1px;
  width: 300px; 
  background-color: #c3c3c3;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.loading {
  text-align: center;
  margin-top: 40px;
}

.loading__btn {
  border: none;
  background: url('img/loading.png') no-repeat;
  width: 42px;
  height: 29px;
}

.loading__btn:hover {
  cursor: pointer;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(360deg);
  }
}

.loading__btn:active {
  animation: none;
}

.loading__btn:active, 
.loading__btn:focus {
  outline: none;
}

.header-wrap-product {
  padding: 63px 158px 29px 98px;
}

.nav-product {
  list-style-type: none;
  text-align: center;
  background-color: #f4f4f4;
  height: 70px;
  line-height: 70px;
}

.nav-product__item {
  display: inline-block;
}

.nav-product__item:nth-child(n+3) {
  margin-left: 30px;
}

.nav-product-link {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #6c6c6c;
  letter-spacing: 1.4px;
}

.nav-product-link:hover {
  color: #212121;
}

.nav-product__item_active {
  margin-right: 40px;
}

.nav-product__item_active .nav-product-link {
  color: #212121;
}

.product-details {
  padding: 72px 132px 115px 98px;
  display: flex;
}

.product-details-control {
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
  margin-right: 40px;
}

.product-details-control__item {
  display: inline-block;
}

.product-details-control__item:nth-child(n+2) {
  margin-left: 10px;
}

.product-details-control__link {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.product-details-control__link:hover {
  outline: 1px solid #212121;
}

.product-details-control__link_bg1 {
  background: url('img/product-details/controll.jpg') no-repeat;
}

.product-details-control__link_bg2 {
  background: url('img/product-details/controll11.jpg') no-repeat;
}

.product-details-control__link_bg3 {
  background: url('img/product-details/controll2.jpg') no-repeat;
}

.product-details-info {
  padding: 40px 0 0 62px;
}

.product-details__title {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.product-details__text {
  font-size: 18px;
  color: #e53935;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  text-align: center;
  margin-bottom: 12px;
}

.product-details__price {
  font-family: Gotham, sans-serif;
  font-size: 72px;
  color: #212121;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.product-details__price:before {
  content: '$ ';
  font-size: 36px;
  padding-right: 5px;
}

.product-details__price:after {
  content: '/sq';
  font-size: 36px;
}

.button-product-details {
  width: 100%;
  height: 71px;
  font-size: 22px;
  line-height: 71px;
  letter-spacing: 3.5px;
  border-radius: 35px;
  background-color: #f44336;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.button-product-details__arrow {
  margin-left: 25px;
}

.product-details-description__text {
  font-family: Gotham, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #212121;
  margin-bottom: 12px;
}

.product-details-description__text_padding_left {
  padding-left: 5px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 71px 98px 122px;
}

.contact-info {
  width: 370px;
  min-height: 370px;
  padding: 48px 44px 25px;
  text-align: center;
  border: 1px solid #9c9c9c;
  background-color: rgba(255, 255, 255, 0.9);
}

.contact__location-icon {
  margin-bottom: 25px;
}

.contact__city {
  font-size: 22px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.contact__phone, 
.contact__email, 
.contact__adress {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #212121;
  margin-bottom: 13px;
}

.contact__adress {
  font-weight: 300;
}

.contact__phone:before {
  content: 'Phone:';
  color: #6c6c6c;
}

.contact__email:before {
  content: 'Email:';
  color: #6c6c6c;
}

.contact__adress:before {
  content: 'Address:';
  font-weight: 700;
  color: #6c6c6c;
}